## Deliverable 3. Create a Travel Itinerary Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import matplotlib.pyplot as plt

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Condition,Lat,Lng,Hotel Name
0,7,Bonthe,SL,76.77,moderate rain,7.5264,-12.5050,Bonthe Holiday Village
1,9,Tecoanapa,MX,80.47,clear sky,16.5167,-98.7500,Hotel Manglares
2,12,Itoman,JP,80.62,broken clouds,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
3,13,Carlagan,PH,81.37,broken clouds,14.9750,122.0456,Cabatagan Island
4,14,Butaritari,KI,83.28,clear sky,3.0707,172.7902,Isles Sunset Lodge

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Condition</dt><dd>{Weather Condition}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [10]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

In [11]:
# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [13]:
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities.
vacation_df.head(20)

,City_ID,City,Country,Max Temp,Weather Condition,Lat,Lng,Hotel Name
0,7,Bonthe,SL,76.77,moderate rain,7.5264,-12.5050,Bonthe Holiday Village
1,9,Tecoanapa,MX,80.47,clear sky,16.5167,-98.7500,Hotel Manglares
2,12,Itoman,JP,80.62,broken clouds,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
3,13,Carlagan,PH,81.37,broken clouds,14.9750,122.0456,Cabatagan Island
4,14,Butaritari,KI,83.28,clear sky,3.0707,172.7902,Isles Sunset Lodge
5,21,Kapaa,US,80.58,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,22,Rikitea,PF,75.54,overcast clouds,-23.1203,-134.9692,People ThankYou
7,24,Kahului,US,84.22,few clouds,20.8947,-156.4700,Maui Seaside Hotel
8,33,Carutapera,BR,75.36,light rain,-1.1950,-46.0200,Lidera
9,35,Acapulco,MX,84.02,few clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
10,37,Puerto Escondido,MX,80.89,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
11,48,Hithadhoo,MV,83.68,overcast clouds,-0.6000,73.0833,Scoop Guest House
12,52,Acarau,BR,79.14,broken clouds,-2.8856,-40.1200,castelo pizzaria
13,53,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
14,56,Sawtell,AU,80.92,overcast clouds,-30.3833,153.1000,Island Beach House Sawtell
15,62,Laguna,US,73.24,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
16,64,Coahuayana,MX,78.15,scattered clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
17,66,Mataura,NZ,74.50,broken clouds,-46.1927,168.8643,Ellie's Villa
18,71,Harlingen,US,73.06,clear sky,26.1906,-97.6961,Courtyard by Marriott Harlingen
19,83,Alofi,NU,82.29,overcast clouds,-19.0595,-169.9187,Taloa Heights

In [15]:
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
#Cities chosen are Tecoanapa, Acapulco, Puerto Escondido, and Coahuayana - Mexico
# Hint: The starting and ending city should be the same city.
Tecoanapa = vacation_df.loc[(vacation_df["City"]=="Tecoanapa")]

#Display vacation start
Tecoanapa

,City_ID,City,Country,Max Temp,Weather Condition,Lat,Lng,Hotel Name
1,9,Tecoanapa,MX,80.47,clear sky,16.5167,-98.75,Hotel Manglares

In [16]:
#vacation_stop1 
Acapulco = vacation_df.loc[(vacation_df["City"]=="Acapulco")]
#Display vacation stop 1
Acapulco

,City_ID,City,Country,Max Temp,Weather Condition,Lat,Lng,Hotel Name
9,35,Acapulco,MX,84.02,few clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [17]:
#vacation_stop2
Puerto_Escondido = vacation_df.loc[(vacation_df["City"]=="Puerto Escondido")]
#Display vacation stop 2
Puerto_Escondido

,City_ID,City,Country,Max Temp,Weather Condition,Lat,Lng,Hotel Name
10,37,Puerto Escondido,MX,80.89,broken clouds,15.85,-97.0667,Aldea del Bazar Hotel and Spa

In [18]:
#vacation_stop3
Coahuayana = vacation_df.loc[(vacation_df["City"]=="Coahuayana")]
#Display vacation stop 2
Coahuayana

,City_ID,City,Country,Max Temp,Weather Condition,Lat,Lng,Hotel Name
16,64,Coahuayana,MX,78.15,scattered clouds,18.7333,-103.6833,El rranchito michuacan de ocampos

In [19]:
#combine vacation itinerary into one dataframe - append other dataframes into vacation start
vacation_4_df = pd.concat([Tecoanapa, Acapulco, Puerto_Escondido, Coahuayana])
vacation_4_df

,City_ID,City,Country,Max Temp,Weather Condition,Lat,Lng,Hotel Name
1,9,Tecoanapa,MX,80.47,clear sky,16.5167,-98.7500,Hotel Manglares
9,35,Acapulco,MX,84.02,few clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
10,37,Puerto Escondido,MX,80.89,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
16,64,Coahuayana,MX,78.15,scattered clouds,18.7333,-103.6833,El rranchito michuacan de ocampos

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = Puerto_Escondido.to_numpy()
end = Puerto_Escondido.to_numpy()
stop1 = Tecoanapa.to_numpy()
stop2 = Acapulco.to_numpy()

In [21]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key= g_key)

# Latitude-longitude pairs
Puerto_Escondido = (15.85, -97.07)
Puerto_Escondido = (15.85, -97.07)
Tecoanapa = (16.52, -98.75) 
Acapulco = (16.86, -99.89)
Coahuayana = (18.73, -103.68)

fig = gmaps.figure()
Travel2coahuayana_via_waypoints = gmaps.directions_layer(
        Puerto_Escondido, Coahuayana, waypoints=[Tecoanapa, Acapulco],
        travel_mode ="DRIVING")
fig.add_layer(Travel2coahuayana_via_waypoints)
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function (done in earlier step).
vacation_4_df

,City_ID,City,Country,Max Temp,Weather Condition,Lat,Lng,Hotel Name
1,9,Tecoanapa,MX,80.47,clear sky,16.5167,-98.7500,Hotel Manglares
9,35,Acapulco,MX,84.02,few clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
10,37,Puerto Escondido,MX,80.89,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
16,64,Coahuayana,MX,78.15,scattered clouds,18.7333,-103.6833,El rranchito michuacan de ocampos

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Condition</dt><dd>{Weather Condition}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_4_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_4_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map.
cities = vacation_4_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

In [25]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))